:root {
  --clr-dark: 230 35% 7%;
  --clr-lightdark: 0 0% 24%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /*font-sizes */
  --fs-900: clamp(5rem, calc(8vw + 1rem), 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}
.major{
 font-size: var(--fs-800)
}
.minor{
  font-size: var(--fs-400)

}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-lightdark{
  color: hsl(var(--clr--lightddark))
}
.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.d-block {
  display: block;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.grid-container--home {
  padding-bottom: max(6rem, 20vh);
  align-items: end;
}

.grid-container--home > *:first-child {
  grid-column: 2;
}

.grid-container--home > *:last-child {
  grid-column: 3;
}
.large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}
.name{
  color: hsl(var(--clr-light));
}

.lan {
  color: hsl(var(--clr-dark));
  background-color:hsl(var(--clr-white));
  ;
}
.dark .name{
  color:hsl(var(--clr-lightdark))
}
.dark .lan{
  color:hsl(var(--clr-white));
  background-color:hsl(var(--clr-dark))
}

@media (min-width: 45em) {
  .grid-container {
      text-align: left;
      column-gap: var(--container-gap, 2rem);
      grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
  }
  
  .grid-container--home {
      padding-bottom: max(6rem, 20vh);
      align-items: end;
  }
  
  .grid-container--home > *:first-child {
      grid-column: 2;
  }

  .grid-container--home > *:last-child {
      grid-column: 3;
  }
}