*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  color: white;
  margin: 0;
  font-family: "Helvetica Neue", "sans-serif";
  background: -webkit-radial-gradient(center, ellipse cover, #111 10%, #333 90%);
}
.main_header{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;
  width: 100%;
  padding: 20px;
}
.header_btn{
  display: inline-flex;
  justify-content: space-around;
}
.name-title{
  font-size: 50px;
  font-weight: bold;
}
.project_btn, .contact_btn{
  margin: 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(93, 198, 233);
  padding: 7px;
  border-radius: 5px;
}
.project_btn:hover, .contact_btn:hover{
 transition: 0.5s;
  background-color: rgb(15, 96, 122);
}

.switch {
  margin: 1%;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  overflow: hidden;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  /* top: 5px; */
  left: 45px;
  position: absolute;
}

.dark {
  background: -webkit-radial-gradient(center, ellipse cover, rgb(243, 235, 235) 10%, rgb(238, 235, 235) 90%);
  color: black;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark>* {
  color: black;

}

/* .container-mos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  margin: 5%;
} */
.main_body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 0%;
}
.btn{
 
animation: secFadeIn 4s forwards;
animation-delay: 5s;
 margin-top: 10px;
text-decoration: none;
font-size: 20px;
padding: 5px;
background: transparent;
color: #1fe8b6;
border:3px solid #1fe8b6;
position: relative;
opacity: 0;
}
.btn::before, 
.btn::after
{
content: "";
position: absolute;
width: 40px;
height: 40px;
border: inherit;
transition: all 0.5s;
}
.btn::before{
  top: -15px;
  left: -15px;border-width: 3px 0 0 3px;
}
.btn::after{
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}
.btn:hover::before,
.btn:hover::after
{
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}
.github-icon{
  margin: 10px;
  display: flex;
  font-size: 20px;
}
.project{
  margin-right: 40px;
  margin-left: 40px;
  height: 100vh;
}
.project-cards{
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 1rem;
}
.project h1{
display:flex;
justify-content: center;
align-items: center;
margin: 30px;
}
.card-details{
 width: 300px;
 height: 300px;
 background-color:#333;
 padding: 10px;
 border-radius: 10px;
 outline: 1px solid rgba(255, 255, .5);
 outline-offset: -8px;
 box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
 position: relative;
 overflow: hidden;
}
.project-img{
position: absolute;inset: 0;
width: 100%;
height: 100%;
object-fit:cover;
opacity: .6;
transition: transform .75s;
}
.card-details:hover .project-img{
  transform:scale(1.15);
}
.about{
  height: 100vh;
}
.about h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content{
  display: grid;
  margin-left: 50px;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  font: 'Lato';
}
.about-content p{
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lang-list{
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 3rem;
}

.profile-pic{
  width: 300px;
  height: 400px;
  object-fit: cover;
  /* border-radius: 200px; */
}
.list{
  list-style:square;
}
.socials{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.socials-container{
  display: flex;
  justify-content: space-between;
}
.social-icons{
width: 50px;
height: 50px;
color: white;
}
.contact{
  margin: 20px;
height: 70vh;
}
.contact-form{
  align-content: center;
}
.contact-title{
display:flex;
justify-content:center;
}
.contact-details{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.contact-details input{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 70%;
}
.messages-input{
  padding:10px;
  height: 200px;
  width: 70%;
}
#contact-btn{
  width: 100px;
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  outline: 2px solid #fff;
  letter-spacing: 2px;
  /* background:; */
}

@media all and (max-device-width: 576px)
 {
  .project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
}
@media all and (max-device-width: 992px)
 {
  .project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

