* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #00abe1;
  color: #fff;
  padding: 20px;
}
.main_header {
  display: flex;
  justify-content: space-between;
}
.header_btn {
}
.project_btn,
.contact_btn {
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
button:hover {
  transform: scale(1.2);
}
.project_btn {
  background-color: #161f6d;
  color: #fff;
}
.main_body {
  margin-bottom: 50px;
}
.name {
  font-size: 100px;
  font-weight: bold;
}
.role {
  font-size: 30px;
  font-weight: bold;
}
.language_container {
  display: flex;
  position: relative;
  /* flex-direction: column; */
  align-items: center;
  margin-top: 50px;
  margin-left: 25%;
  justify-content: center;
}
.cube {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}
.language {
  border: 1px solid black;
  padding: 10px;
  box-shadow: -80px 80px 20px rgb(50 50 50 / 25%);
}

.about {
  margin: 50px;
}
.about h1 {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  

}
.project h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}.live-link{
  padding: 10px;
  background-color: #161f6d;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
}
.cards {
  display: block;
  min-height: 90px;
  border: 3px solid black;
  padding: 20px;
  background-color:#067b9e;
  box-shadow: 10px -10px 0 0px #1FC11B;
}
.profile-pic{
  width:20rem;
  height: 100%;
  border-radius: 25%;
  object-fit: cover;
}
#html {
  left: 0px;
  background-image: url("./components/img/html-square.png");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}
#html:before {
  background-color: rgb(189, 142, 233);
}

#html:after {
  background-color: rgb(204, 189, 218);
}
#css {
  left: 100px;
  background-image: url("./components/img/css-square.png");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -100px 100px 20px rgb(50 50 50 / 15%);
}

#css:before {
  background-color: rgb(189, 142, 233);
}

#css:after {
  background-color: rgb(204, 189, 218);
}
#js {
  left: 200px;
  background-image: url("./components/img/js.jpeg");
  background-size: cover;
  background-position: center;
  background-color: rgb(165, 96, 231);
  box-shadow: -80px 80px 20px rgb(50 50 50 / 25%);
}

#js:before {
  background-color: rgb(189, 142, 233);
}

#js:after {
  background-color: rgb(204, 189, 218);
}
#react {
  left: 300px;
  background-image: url("./components/img/react-square.png");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -80px 80px 20px rgb(50 50 50 / 15%);
}

#react:before {
  background-color: rgb(189, 142, 233);
}

#react:after {
  background-color: rgb(204, 189, 218);
}
#node {
  left: 400px;
  background-image: url("./components/img/node.png");
  background-size: cover;
  background-position: center;
  background-color: rgb(165, 96, 231);
  box-shadow: -80px 80px 20px rgb(50 50 50 / 25%);
}

#node:before {
  background-color: rgb(189, 142, 233);
}

#node:after {
  background-color: rgb(204, 189, 218);
}
#express {
  left: 500px;
  /* background-image: url("img/html-square.png"); */
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#express:before {
  background-color: rgb(189, 142, 233);
}

#express:after {
  background-color: rgb(204, 189, 218);
}
#mongo {
  left: 600px;
  background-image: url("./components/img/mongo.jpeg");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#mongo:before {
  background-color: rgb(189, 142, 233);
}

#mongo:after {
  background-color: rgb(204, 189, 218);
}
#sql {
  left: 700px;
  background-image: url("./components/img/mysql.jpeg");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#sql:before {
  background-color: rgb(189, 142, 233);
}

#sql:after {
  background-color: rgb(204, 189, 218);
}
#git {
  left: 800px;
  background-image: url("./components/img/git.jpeg");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#git:before {
  background-color: rgb(189, 142, 233);
}

#git:after {
  background-color: rgb(204, 189, 218);
}
#github {
  left: 900px;
  background-image: url("./components/img/github.png");
  background-size: cover;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#github:before {
  background-color: rgb(189, 142, 233);
}

#github:after {
  background-color: rgb(204, 189, 218);
}
#php {
  left:1000px;
  background-image: url("./components/img/php.png");
  background-size: cover;
  background-position: center;
  background-color: rgb(165, 96, 231);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#php:before {
  background-color: rgb(189, 142, 233);
}

#php:after {
  background-color: rgb(204, 189, 218);
}

@media screen and (max-width: 992px) {
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
  }
  .profile-pic{
    width:20rem;
    height: 100%;
    shape-outside: polygon(0px 0px, 0px 189px, 100.48% 94.71%, 200px 120px, 80.67% 37.17%); shape-outside: polygon(0px 0px, 0px 189px, 100.48% 94.71%, 200px 120px, 80.67% 37.17%);
    border-radius: 25%;
    object-fit: cover;
  }
  .language_container {
    display: flex;
    position: relative;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 50px;
    margin-left: 1px;
    justify-content: center;
  }
}

/* On screens that are 600px wide or less, make the columns stack on bottom: 0px; of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
  }
  .language_container {
    display: flex;
    position: relative;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 50px;
    margin-left: 1px;
    justify-content: center;
  }
}